<h1>Hai from Rails!!!!!!</h1>
<p>rails is awesome</p>
<p>
  IT IS NOW <%= @time %>
</p>

<p>
Addition: <%= 1+2 %>
</br>
Concatenation: <%= "cow"+"goat"%>
</br>
Time in one hour :<%= 1.hour.from_now.localtime%>
</p>
<p>
  THe FILES ARE:
  <%=@files%>
</p>
<p>
  Now it's time to say
  <%=link_to 'Goodbye',say_goodbye_path%>
</p>
